.blogs{
    width: 80%;
    height: 87vh;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.blogs::-webkit-scrollbar{
    display: none;
}

.cont{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #e0e0e0;
    min-height: 30rem;
    max-width: 65rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}


.k{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}
.title{
    width: 100%;
    height:100%;
    font-size: 2.75rem;
    
    
}
.description{
max-width: 70rem;
word-wrap: break-word;
padding: 1rem;
}
.description, .editDes{
    width: 100%;
    height: 90%;
    font-size: 1.5rem;
    
}

.author{
    width: 50%;
    height: 20%;
    font-size: 1.5rem;
    color: rgb(222, 92, 114);
}

.others{
width: 100%;
height: 100%;
font-size: 3rem;
display: flex;
justify-content: flex-end;
position: relative;
align-self: flex-end;
}

.others *{
   position: absolute;
   top: 30%;
}

.emojis{
    cursor: pointer;
}

#ed{
    right: 19%;
}

#tr{
    right: 4%;
}

.gear{
    position: absolute;
    top: 3%;
    right: 6%;
    font-size: 4rem;
    cursor: pointer;
}

.editDes, .editTit{
    padding: .5rem;
    background-color: #d1d1d1;
    resize: none;
    border-radius: 1rem;
}
.editTit, .nothing{
    height: 60%;
    width: 100%;
}
.editDes{
    height: 70%;
}
.editTit::placeholder{
    font-size: 1.5rem;
}
.confirm{
    width: 20%;
    height: 40%;
    background-color: rgb(196, 196, 196);
    font-size: 2rem;
    resize: none;
    cursor: pointer;
    color: black;
    border-radius: 1rem;
    transition: all 0.3s ease;
    align-self: flex-end;
}

.confirm:hover{
    transform: scale(105%);
}



.licznikWrong{
    color: red;
}