.sidebar{
    width: 100%;
    height: 87vh;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sideLinks{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-bottom: .2rem solid darkslategrey;
    transition: all .5s ease-in-out;
    border-left: .0rem solid darkslategrey;
    color: #efefef;
}

.sideLinks:hover{
    border-left: .5rem solid darkslategrey;
}


